<!DOCTYPE html>
<html lang="pt">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Casamento da Ana e do Lino" />
    <meta name="author" content="Lino Silva, Ana Silva" />

    <title>{{title}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="vendors/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>
    {{{body}}}
        
    <section class="map container-fluid">
        <div class="row">
            <div class="col-12">
                <iframe width="100%" height="100%" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" src="{{map.embed}}" allowfullscreen></iframe>
                <br/>
                <small>
                <a href="{{map.link}}"></a>
                </small>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="container">
        <div class="row text-center">
            <h2 class="col-12 please-confirm">
                <strong>Por favor, confirmem<br/> presença até o dia {{footer.rsvpDate}}</strong>
            </h2>
            <div class="col-12 please-confirm-button">
                <a role="button" class="btn btn-info" href="http://lino.ninja/rsvp/">Confirmar presença</a>
            </div>
            <div class="col-12 col-md-8 ml-1 col-lg-4 col-xl-4 mx-auto">
                <ul class="col-12 list-unstyled text-center text-small">
                    <li>
                        <h4>{{footer.address.line1}}</h4>
                        <h4>{{footer.address.line2}}</h4>
                    </li>
                    <li>
                        <hr class="small" />
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <small>Ana: {{footer.contact.ana.phone}}</small>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i>
                        <small><a href="mailto:{{footer.contact.ana.email}}">{{footer.contact.ana.email}}</a></small>
                    </li>
                    <li>
                        <hr class="small" />
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <small>Lino: {{footer.contact.lino.phone}}</small>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i>
                        <small><a href="mailto:{{footer.contact.lino.email}}">{{footer.contact.lino.email}}</a></small>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendors/jquery.easing/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/main.js"></script>

  </body>

</html>
